/* * Colors Variables * */
:root {
    --primary-color: #00A8B5;
    --basic: #212529;
    --orange: #F7912C;
    --green: #0FDC67;
    --red: #D20013;
    --light-grey: #999A9D;
    --dark-grey: #666666;
    --white: #FFFFFF;
    --bg-color:#f7f7f7;
    --hover-color: #0DE3F41A;
}

/* * General Styles * */
body {
font-family: 'Inter', sans-serif;
background-color: var(--bg-color);
}

a {
    text-decoration: none;
    color: var(--light-grey);
    font-size: 14px;
}

.card {
    border: none;
}

/** Side bar **/

.sidebar {
width: 220px;
background-color: var(--white);
min-height: 100vh;
display: flex;
flex-direction: column;
}

.sidebar .nav-item {
padding: 12px;
cursor: pointer;
color: var(--light-grey);

}

.sidebar .nav-item.active,
.sidebar .nav-item:hover {
background-color: var(--hover-color);
color: var(--primary-color);
border-right: 3px solid var(--primary-color);

}

.theme-switch {
margin-top: auto;
padding-top: 20px;
font-size: 14px;
}

/** Main Section **/
.main-content {
flex: 1;
background: var(--white);
}

.main-content .main{
    background-color: var(--bg-color);
}

/** Stat Card **/
.stat-card {
border: none;
border-radius: 8px;
padding: 20px;
height: 100%;
box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.stat-card img {
    height: 32px;
    width: 32px;
}

.stat-card .title {
    font-size: 16px;
    color:var(--primary-color);
}

.unique-card {
    background-color: var(--primary-color);
    .title{
        color: var(--white);
    }
    
}

.stat-card .content .left{
    display: inline-block;
    font-size: 16px;
}

.stat-card .content .right{
    display: inline-block;
    font-size: 12px;
}

.stat-card .content .increase{
    color: var(--green);
}

.stat-card .content .decrease{
    color: var(--red);
}

/** Search Bar **/
.search-input {
max-width: 495px;
}

/* * Bar Chart */


.legend-color {
width: 12px;
height: 12px;
border-radius: 2px;
}

.women {
    background-color: var(--orange);
}

.men {
    background-color: var(--primary-color);
}

canvas {
margin-top: 10px;
}

.chart-select {
    color: var(--primary-color);
    border-color: var(--primary-color);
}


/* * Donut Chart * */
.department-list li {
display: flex;
align-items: center;
justify-content: space-between;
padding: 12px 10px;
cursor: pointer;
border-bottom: 1px solid #EDEDED;
}

.department-list li:hover {
background-color: #f1f3f5;
}

.department-info {
display: flex;
align-items: center;
gap: 12px;
font-weight: 500;
}

.department-info .title {
color: var(--basic);
font-size: 14px;
}

.department-info .subtitle {
    color: var(--light-grey);
    font-size: 12px;
    }

.department-icon {
width: 32px;
height:32px;
border-radius: 50%;
}

.department-list li.dimmed {
opacity: 0.3;
pointer-events: none;
}

.department-list li.highlighted {
opacity: 1;
font-weight: 600;
}

.chartjs-tooltip {
    position: absolute;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
    padding: 10px 14px;
    border-radius: 12px;
    font-size: 12px;
    font-weight: 500;
    color: #333;
    pointer-events: none;
    z-index: 10;
    transform: translate(-50%, -120%);
    white-space: nowrap;
}

.chartjs-tooltip .tooltip-title {
margin-bottom: 4px;
font-weight: 600;
}

.chartjs-tooltip .tooltip-value {
font-size: 14px;
color: #666;
}


#donutWrapper {
position: relative;
width: 100%;
max-width: 220px;
margin: 0 auto;
}

#donutChart {
width: 100% !important;
height: auto !important;
}

.center-image {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
height:  80px;
opacity: 0.9;
}

@media (max-width: 768px) {
.center-image {
    height: 40px;
}
}



/* * Calendar */
.schedule-title{
    font-size: 16px;
    font-weight: bold;
}

.pika-single {
    box-shadow: none;
    border-radius: 8px;
    border: none;
}

.pika-table th {
    font-weight: 600;
    color: #555;
}

.pika-button {
    background-color: white;
    transition: 0.2s;
    text-align: center;
    font-weight: bold;
    color: var(--light-grey);
}

.pika-button:hover {
    background-color: var(--primary-color);
    color: white;
}

.is-selected .pika-button{
    background: var(--primary-color);
    color: white;
}

abbr[title] {
    text-decoration: none;
}

.pika-title {
    color: var(--primary-color);
}

.pika-lendar {
    width: 330px;
}

.activity-title {
    text-align: center;
    color: var(--primary-color);
    font-weight: bold;
}

.activity-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.activity-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.activity-text small {
    font-size: 0.8rem;
    color: #888;
    display: block;
}

  .badge-dot {
    font-size: 12px;
    background-color: transparent;
    color: #f37e4a;
    font-weight: 500;
  }

.add-btn {
gap: 6px;
color: var(--basic);
border-color: var(--primary-color);
font-weight: bold;
}

.add-btn:hover {
    border-color: var(--primary-color);
}

  @media (max-width: 767px) {
    .calendar-container {
      margin-bottom: 1.5rem;
    }
  }

/* * Vertical scroll bar * */
.activity-scroll-container {
    max-height: 178px; /* Adjust height as needed */
    overflow-y: auto;
    padding-right: 8px; /* space for scrollbar */
  }
  
  .activity-scroll-container::-webkit-scrollbar {
    width: 4px;
  }
  
  .activity-scroll-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }
  
  .activity-scroll-container::-webkit-scrollbar-track {
    background: transparent;
  }
  